@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{}
<h2>Lỗi không có quyền truy cập</h2>
<div class="alert alert-danger">
    Bạn không có quyền truy cập.
</div>

