<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>
    <li class="active">
        <a href="/Admin/Home"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Bán hàng@*<span class="fa arrow"></span>*@</a>
        @*<ul class="nav nav-second-level">
            <li>
                <a href="flot.html">Flot Charts</a>
            </li>
            <li>
                <a href="morris.html">Morris.js Charts</a>
            </li>
        </ul>*@
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> Quản lý kho<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/HangHoa">Quản lý hàng</a>
            </li>
            <li>
                <a href="/Admin/LoaiMatHang">Quản lý nhóm hàng</a>
            </li>           
        </ul>

    </li>
    <li>
        <a href="#"><i class="fa fa-edit fa-fw"></i> Quản lý nhập/xuất<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Danh sách nhập/xuất</a>
            </li>
            <li>
                <a href="panels-wells.html">Nhập hàng từ NCC</a>
            </li>
            <li>
                <a href="panels-wells.html">Xuất hàng trả lại</a>
            </li>
            <li>
                <a href="panels-wells.html">Lưu chuyển nội bộ</a>
            </li>
            <li>
                <a href="panels-wells.html">Cân đối hàng tồn</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Quản lý khách hàng<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/KhachHang">Khách hàng</a>
            </li>
            <li>
                <a href="/Admin/LoaiKhachHang">Loại khách hàng</a>
            </li>            
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="panels-wells.html">Panels and Wells</a>
            </li>
            <li>
                <a href="buttons.html">Buttons</a>
            </li>
            <li>
                <a href="notifications.html">Notifications</a>
            </li>
            <li>
                <a href="typography.html">Typography</a>
            </li>
            <li>
                <a href="icons.html"> Icons</a>
            </li>
            <li>
                <a href="grid.html">Grid</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Third Level <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-users"></i> Quản trị quyền<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Người dùng</a>
            </li>
            <li>
                <a href="/Admin/Role">Danh sách quyền</a>
            </li>
            <li>
                <a href="#">Phân quyền</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>
