@model IEnumerable<Models.EF.MauSac>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{}
<h3>Danh sách các loại màu sắc</h3>
<p>
    <a href="@Url.Action("Create", "MauSac")" class="btn btn-success">Thêm mới</a>
</p>
<table class="table">
    <tr>
        <th>
           Tên
        </th>
        <th>Hành động</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
