@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    @*<li><a href="#">Phân quyền</a></li>
    <li class="active"><a href="~/Admin/Role">Danh sách quyền</a></li>*@
}
<h2>Index</h2>


