@using Models.Dao
@using Models.EF
@model HTHAplication.Areas.Admin.Models.XuatKhoView
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    <li class="active"><a href="#">Bán hàng</a></li>
}
@{
    var dao = new KhachHangDao();
    List<KhachHang> lst_kh = dao.ListAll();
}
<script>
    $(document).ready(function () {
        $('#txt_tenkh').focus();
        $("#datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        }).datepicker("setDate", new Date());
        $("#div_ThemHang").dialog({
            autoOpen: false,
            height: 400,
            width: 800,
            modal: true
        });
        $('#a_AddValue').click(function () {
            $('#div_ThemHang').dialog("open");
        });
        
    });
    function saveClick() {
        if ($("#txt_tenkh").val() == '') {
            alert('Vui lòng nhập tên khách hàng!');
            $('#txt_tenkh').focus();
        } else if ($("#txt_sdt").val() == '') {
            alert('Nhập số điện thoại!');
            $("#txt_sdt").focus();
        } else if ($("#txt_diachi").val() == '') {
            alert('Nhập địa chỉ của khách hàng!');
            $("#txt_diachi").focus();
        } else if ($("#txt_thukho").val() == '') {
            alert('Nhập thông tin thủ kho giao hàng!');
            $("#txt_thukho").focus();
        } else if ($("#txt_nguoilapphieu").val() == '') {
            alert('Nhập thông tin người lập hóa đơn bán hàng!');
            $("#txt_nguoilapphieu").focus();
        }
        else {
            var frm_PhieuXuatKho = document.forms["form3"];
            executeXuatKho(frm_PhieuXuatKho);
        }
    }

</script>
<script src="~/Content/themes/redmond/jquery-ui.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui.min.css" rel="stylesheet" />
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Bán hàng
            </div>
            <form id="form3" name="form3" method="post" action="">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-md-2">Tên khách hàng:</label>
                        <div class="col-md-4">
                            <input type="text" required class="form-control" name="txt_tenkh" id="txt_tenkh" title="Tên khách hàng" />
                        </div>

                        <label class="control-label col-md-2">Số điện thoại:</label>
                        <div class="col-md-4">
                            <input type="text" required name="txt_sdt" id="txt_sdt" class="form-control" title="Số điện thoại" value="" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Địa chỉ:</label>
                        <div class="col-md-10">
                            <input type="text" required id="txt_diachi" name="txt_diachi" class="form-control" title="Địa chỉ" value="" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ngày giao dịch:</label>
                        <div class="col-md-2">
                            <input type="text" id="datepicker" class="form-control" title="Ngày giao dịch" value="" />
                        </div>
                        <div class="col-md-2"></div>
                        <label class="control-label col-md-2">Mã chứng từ:</label>
                        <div class="col-md-4">
                            <input type="text" id="txt_soct" disabled="disabled" class="form-control" title="Mã chứng từ" value="@Model.chung_tu_xuat.IDXuat" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Thủ kho:</label>
                        <div class="col-md-4">
                            <input type="text" id="txt_thukho" name="txt_thukho" class="form-control" title="Người giao hàng" value="" />
                        </div>
                        <label class="control-label col-md-2">Người lập hóa đơn:</label>
                        <div class="col-md-4">
                            <input type="text" id="txt_nguoilapphieu" name="txt_nguoilapphieu" class="form-control" title="Người lập hóa đơn" value="" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Diễn giải:</label>
                        <div class="col-md-10">
                            <textarea name="txt_des" class="form-control" id="txt_des" title="Diễn giải lý do nhập hàng"></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <a id="a_AddValue" rel="" href="#">
                                <input type="button" class="btn btn-success" name="btn_AddValue" id="btn_AddValue" value="Thêm hàng" />
                            </a>
                            <input type="button" class="btn btn-primary" onclick="return saveClick();" value="Xuất hóa đơn" />
                            <a rel="#" href="/Admin/XuatHang">
                                <input type="button" class="btn btn-warning" value="Nhập lại" />
                            </a>
                            <a rel="#" href="/Admin/Home">
                                <input type="button" class="btn btn-danger" value="Thoát" />
                            </a>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="clearfix"></div>

                    <br />
                    <div class="form-group">
                        <div class="table-responsive">
                            <table id="tb_mat_hang" class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>Mã hàng</th>
                                    <th>Tên hàng</th>
                                    <th>Mã kho</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                            </table>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                </div>
                <!--div panel-body-->
            </form>
        </div>
    </div>
</div>
<div id="div_ThemHang" title="Thêm hàng hóa" style="display:none;">
    @Html.Partial("_Partial_ThemHang")
</div>
